// 背景透明文字不透明
@mixin transparentize($color, $alpha) {
  $c: rgba($color, $alpha);
  $ie_c: ie_hex_str($c);
  background: rgba($color, 1);
  background: $c;
  background: transparent\9;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c});
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c})";
}

// 箭头 
@mixin triangle($size: 3px, $color: #bbb, $orientation: down) {
  width: 0;
  height: 0;
  border-width: $size;
  font-size: 0;
  line-height: 0;
  @if $orientation == down {
    border-style: solid dashed dashed dashed;
    border-color: $color transparent transparent;
  } @else if $orientation == right {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $color;
  } @else if $orientation == up {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent $color transparent;
  } @else if $orientation == left {
    border-style: dashed solid dashed dashed;
    border-color: transparent $color transparent transparent;
  }
}

// Menus with a sliding marker
@mixin menu_with_slide($width: 6em, $height: 2em, $background-selected: #fff, $background-hover: #111, $size: 6, $gtIE9: true, $opacity: 1, $duration: .3s, $delay: 0s) {
  $background-selected-opacity: $background-selected;
  $background-hover-opacity: $background-hover;
  @if $gtIE9 == true {
    $background-selected-opacity: rgba($background-selected, $opacity);
    $background-hover-opacity: rgba($background-hover, $opacity);
  }

  position: relative;
  z-index: 0;
  overflow: hidden;
  @include legacy-pie-clearfix;
  > li {
    line-height: $height;
    width: $width;
    height: $height;
    @include float-left;
    @if $gtIE9 == true {
      &:last-child {
        position: absolute;
        display: block;
        z-index: -1;
        left: -$width;
        bottom: 0;
        height: $height;
        background: $background-hover-opacity;
        @include transition(transform $duration);
      }
      @for $i from 1 through $size {
        &:nth-child(#{$i}) {
          &.selected ~ li:last-child {
            @include transform(translateX(#{$i*$width}));
          }
          &:hover ~ li:last-child {
            @include transform(translateX(#{$i*$width}) !important);
          }
        }
      }
    } @else {

      &:hover {
        background: $background-hover-opacity;
      }
    }
    > a {
      display: block;
      padding: 0 5px;
      text-align: center;
      text-decoration: none;
    }
  }
  .last {
    display: none;
  }
  .selected {
    background: $background-selected-opacity;
  }
}

// 图片hover效果
@mixin album-effect() {
  position: relative;
  *zoom: 1;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
  }
  i {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    @include transform(skewx(-25deg));
    @include background-image(linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)));

  }
  &:hover {
    i {
      left: 100%;
      @include transition(left .5s);
    }
  }
}

// loading process
@mixin loading-process-effect($background-color: #ff4020, $duration: 1s, $iteration: infinite) {
  @include keyframes(loading) {
    0% {
      left: 0;
      right: 100%
    }

    50% {
      left: 0;
      right: 0
    }

    100% {
      left: 100%;
      right: 0
    }
  }
  position: relative;
  &:before {
    background-color: $background-color;
    content: '';
    height: 2px;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
    @include animation(loading $duration $iteration ease-in-out);
  }
} 
